<!-- Site navigation structural component -->
<nav
  id="navigation"
  class="main-navigation dropdown"
  aria-label="Main navigation">
  <ul id="nav_list" class="top-level-nav">
    <li class="nav-item">
      <a
        class="first-level-link {{- ' active' if landing === 'Home' }}"
        href="/"
        >Home</a
      >
    </li>
    <li class="nav-item {{- ' active' if landing === 'Get started' }}">
      <a class="first-level-link" href="/get-started/">Getting started</a>

      <div class="sub-nav">
        <ul class="second-level-nav">
          <li class="unit1">
            <a
              href="/get-started/getting-started.html"
              class="second-level-link"
              >Get started</a
            >
          </li>
          <li class="unit1">
            <a href="/get-started/updates.html" class="second-level-link"
              >Update your template</a
            >
          </li>
          <li class="unit1">
            <a
              href="/get-started/structure/structure.html"
              class="second-level-link"
              >Structure</a
            >
          </li>
          <li class="unit1">
            <a href="/get-started/cdn.html" class="second-level-link">CDN</a>
          </li>
        </ul>
      </div>
    </li>
    <li class="nav-item">
      <a
        class="first-level-link {{- ' active' if landing === 'About' }}"
        href="/about.html"
        >About State Web Template</a
      >
    </li>

    <li class="nav-item">
      <a
        class="first-level-link {{- ' active' if landing === 'Contact' }}"
        href="/contact.html"
        >Contact us</a
      >
    </li>
  </ul>
</nav>
