<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <meta name="Author" content="State of California" />
    <meta name="Description" content="{{ description }}" />
    <meta name="Keywords" content="California, government" />
    {%- if noindex %}
    <meta name="robots" content="noindex" />
    {%- endif %}
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="HandheldFriendly" content="True" />
    <meta name="MobileOptimized" content="320" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0" />
    <!-- Primary Meta Tags -->
    <meta name="title" content="{{ title }}" />
    <meta name="description" content="{{ description }}" />
    <!-- Canonical link, improves SEO -->
    <link href="{{page | canonical}}" rel="canonical" />
    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content="{{page | canonical}}" />
    <meta property="og:title" content="{{ title }}" />
    <meta property="og:description" content="{{ description }}" />
    <meta property="og:image" content="{{ socialimage }}" />
    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content="{{page | canonical}}" />
    <meta property="twitter:title" content="{{ title }}" />
    <meta property="twitter:description" content="{{ description }}"  />
    <meta property="twitter:image" content="{{ socialimage }}" />
    {% include "../head-js-css.njk" %}
  </head>
  <body class="primary">
    <header role="banner" id="header" class="global-header fixed">
      <div id="skip-to-content">
        <a href="#main-content">Skip to Main Content</a>
      </div>
      {% if alert -%} {%- include alert -%} {%- endif -%} {%- include
      "../utility-header.njk" -%} {%- include "../site-header.njk" -%} {%-
      include "../mobile-controls.njk" -%}
      <div class="navigation-search full-width-nav container">
        <div id="head-search" class="search-container featured-search">
          {%- include "../search.njk" -%}
        </div>
        {# navigation types #} {%- if navigation -%} {%- include navigation -%}
        {%- else -%} {%- include "../navigation.njk" -%} {%- endif -%}
      </div>
    </header>
    {% block content -%} {{ content | safe }} {%- endblock -%} {%- include
    "../global-footer.njk" -%}
  </body>
</html>
