<!doctype html>
<html lang="en">
  <head>
    <title>{{ title }}</title>
    <meta charset="utf-8" />
    <meta name="Author" content="State of California" />
    <meta name="Description" content="State of California" />
    <meta name="Keywords" content="California, government" />
    {% include "../../src/components/head-js-css.njk" %}
  </head>
  <body class="primary">
    <header role="banner" id="header" class="global-header fixed">
      <div id="skip-to-content">
        <a href="#main-content">Skip to Main Content</a>
      </div>
      {%- include "../../src/components/utility-header.njk" -%} {%- include
      "../modules/branding.html" -%} {%- include
      "../../src/components/mobile-controls.njk" %}
      <div class="navigation-search">
        <!-- navigation types -->
        {%- if navigation -%} {%- include navigation -%} {%- else -%} {%-
        include "../../src/components/navigation.njk" -%} {%- endif %}
        <div
          id="head-search"
          class="search-container {{ - ' featured-search' if search === 'Featured' }}">
          {% include "../../src/components/search.njk" %}
        </div>
      </div>
    </header>
    {% block content %}
    <div id="main-content" class="main-content">
      <main class="main-primary" id="main">{{ content | safe }}</main>
    </div>
    {% endblock %} {% include "../../src/components/global-footer.njk" %}
  </body>
</html>
