{%- extends "./base.njk" -%} {%- block content -%}
<!-- Main content -->
<div id="main-content" class="main-content">
  <div class="container p-t-md p-b-lg">
    <main class="main-primary" id="main">
      {# Breadcrumbs (rendering data from /src/_data/breadcrumbs.json and
      /src/_data/helpers.js -#} {%- include
      "../../src/components/breadcrumbs.njk" -%} {{ content | safe }}
    </main>
  </div>
</div>
{%- endblock -%}
