<!-- Global Footer structural component -->
<footer id="footer" class="global-footer">
  <div class="container">
    <div class="d-flex">
      <a
        href="https://www.ca.gov/?utm_campaign=state_template_link&utm_medium=footer&utm_source=external"
        class="cagov-logo">
        <span class="sr-only">CA.gov</span>
        <span class="ca-gov-logo-svg"></span>
      </a>
      <ul class="footer-links">
        <li>
          <a
            href="https://template.webstandards.ca.gov/conditions-of-use.html"
            target="_blank"
            >Conditions of use</a
          >
        </li>
        <li>
          <a
            href="https://template.webstandards.ca.gov/privacy-policy.html"
            target="_blank"
            >Privacy policy</a
          >
        </li>
        <li>
          <a
            href="https://template.webstandards.ca.gov/accessibility.html"
            target="_blank">
            Accessibility</a
          >
        </li>
      </ul>
      <ul class="socialsharer-container">
        <li>
          <a
            href="https://github.com/Office-of-Digital-Innovation/California-State-Web-Template">
            <span class="ca-gov-icon-github" aria-hidden="true"></span>
            <span class="sr-only">GitHub</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
  <!-- Copyright Statement -->
  <div class="copyright">
    <div class="container text-right">
      Copyright &copy;
      <span id="thisyear">
        <script>
          document.getElementById('thisyear').appendChild(document.createTextNode(new Date().getFullYear()))
        </script>
      </span>
      State of California
    </div>
  </div>
  <button class="return-top">
    <span class="sr-only">Back to top</span>
  </button>
</footer>
